name: Build iOS App

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-13

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Xcode
      run: sudo xcode-select -s /Applications/Xcode_15.0.app

    - name: List available schemes
      run: xcodebuild -list -project "fxlmenuswift.xcodeproj"

    - name: Build iOS App (Release)
      run: |
        xcodebuild \
          -project "fxlmenuswift.xcodeproj" \
          -scheme "fxl menu swift" \
          -configuration Release \
          -derivedDataPath build clean build
